body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

.main-header{
    margin: 10px;
    background-color: #ebebeb;
    padding: 30px;
    text-align: center;
}

.main-nav{
    margin: 10px;
    background-color: #ebebeb;
    padding: 30px;
    text-align: center;
}

.main-wrapper{
    display: flex;
}

section{
    background: #ebebeb;
    width: 495px;
    height: 300px;
    margin: 10px;
    text-align: center;
}

article{
    color: #ebebeb;
    background: #777;
    margin: 10px;
    height: 60%;
    padding: 10px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    margin: 10px;
    height: 50px;
    padding-top: 10px;
}

aside{
    background: #ebebeb;
    width: 450px;
    margin: 10px;
    text-align: center;
}

footer{
    margin: 10px;
    background-color: #ebebeb;
    padding: 30px;
    text-align: center;
}
